@model mvcproje1.Models.Entity.Tab_Ogrenciler
@{
    ViewBag.Title = "YeniOgrenci";
    Layout = "~/Views/Ogrenci/index.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Öğrenci Adı</label>
        <input type="text" class="form-control" name="OgrAd" />
    </div>
    <div style="margin-top:10px">
        <label>Öğrenci Soyadı</label>
        <input type="text" class="form-control" name="OgrSoyad" />
    </div>
    <div style="margin-top:10px">
        <label>Öğrenci Fotoğraf</label>
        <input type="text" class="form-control" name="OgrResim" />
    </div>
    <div style="margin-top:10px">
        <label>Öğrenci Cinsiyet</label>
        <input type="text" class="form-control" name="OgrCinsiyet" />
    </div>
    <div style="margin-top:10px">
        <label>Öğrenci Kulüp</label>
        @Html.DropDownListFor(m => m.Tab_Kulupler.OgrKulupid, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-primary">Öğrenci Ekle</button>
    </div>
</form>

