@model mvcproje1.Models.Entity.Tab_Dersler
@{
    ViewBag.Title = "Dersgetir";
    Layout = "~/Views/Default/index.cshtml";
}

@using (Html.BeginForm("Guncelle", "Default", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Dersad)
        @Html.TextBoxFor(m => m.Dersad, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Ders)
    <div style="margin-top: 10px">
        <button class="btn btn-info">Güncelle</button>
    </div>
}


